/* Cart Component Styles */
.cart-container {
	display: flex;
	align-items: center;
	width: 80px;
	height: 40px;
	background: #4070F4;
	/* color: white; */
	cursor: pointer;
	padding: 0 10px;
	border-radius: 4px;
	position: relative;
}

/* Cart icon styles */
.cart-icon {
	width: 20px;
	height: 20px;
	margin-right: 8px;
}

/* Item count circle styles */
.item-count {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	background: #FFFFFF14;
	color: white;
	border-radius: 50%;
	position: absolute;
	right: 5px;
}

/* Add hover effect for the cart container */
.cart-container:hover {
	background: #1b55f5;
}

.cart-wrapper {
  position: relative;
}

.cart-summary {
  width: 494px;
  height: 550px;
  border-top: 0.8px solid #E7E9ED;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50px; /* Position it below the cart button */
  right: 0;
  z-index: 999;
}

.cart-items-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #E7E9ED;
}

.cart-summary .separator {
  margin: 24px 0;
  border: 0;
  border-top: 1px solid #E7E9ED;
}
