
/* Styles for main box */
.main-box {
  grid-column: span 8; /* Occupy 8 grid items */
  padding: 20px 0;
  height: 100%;
}

.main-box .rating {
  margin-bottom: 30px;
}

.main-box p {
  color: #9EA5B8;
}

/* Styles for filter box */
.order-box {
  grid-column: span 3; /* Occupy 3 grid items */
  background-color: #FFFFFFFF;
  margin: 20px 0;
  max-height: 473px;
  border-radius: 8px;
}
