/* Base styles for grid items */
.grid-container {
  display: grid;
  background-color: #E7E9ED;
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0;
  flex: 1;
  overflow-y: auto;
}

/* Desktop styles */
@media (min-width: 1024px) {
  .grid-container {
    gap: 30px; /* Gutter for desktop */
    grid-template-columns: repeat(12, 90px); /* 12 columns of 90px */
  }
  .grid-item {
    width: 90px;
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    gap: 24px; /* Gutter for tablet */
    grid-template-columns: repeat(6, 45px); /* 6 columns of 45px */
  }
  .grid-item {
    width: 45px;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .grid-container {
    gap: 20px; /* Gutter for mobile */
    grid-template-columns: repeat(4, 16px); /* 4 columns of 16px */
  }
  .grid-item {
    width: 16px;
  }
}

/* Example grid item styles */
.grid-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

/* Styles for filter box */
.filter-box {
  grid-column: span 4; /* Occupy 4 grid items */
  background-color: #FFFFFFFF;
  margin: 20px 0;
  max-height: 1100px;
  overflow-y: auto;
}

/* Styles for main box */
.main-box {
  grid-column: span 8; /* Occupy 8 grid items */
  padding: 20px 0;
  height: 100%;
}

/* Container for the cards */
.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
}
