.card-content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 8px;
  flex-grow: 1;
}

/* Title */
.card-title {
  margin: 0;
}

h3 {
  color: #0A2156;
}

/* Location */
.p3.location {
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: #3C4C70;
}