.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #E7E9ED;
  padding: 32px 64px;
}